@charset "utf-8";
/* ===================================================================
 utilityClass.css
======================================================================*/

/*----------------------------------------------------------
 show
------------------------------------------------------------*/
@media screen and (max-width: 767px) {
  .c_show-pc { display: none !important; }
}
@media screen and (min-width: 768px) {
  .c_show-sp { display: none !important; }
}

/*----------------------------------------------------------
 display
------------------------------------------------------------*/
.c_dn { display: none !important; }
.c_db { display: block !important; }
.c_di { display: inline !important; }

/*----------------------------------------------------------
 overflow
------------------------------------------------------------*/
.c_oh { overflow: hidden !important; }
.c_ov { overflow: visible !important; }

/*----------------------------------------------------------
 float
------------------------------------------------------------*/
.c_fl { float: left !important; }
.c_fr { float: right !important; }
.c_fn { float: none !important; }

/*----------------------------------------------------------
 clear
------------------------------------------------------------*/
.c_cb { clear: both !important; }
.c_cl { clear: left !important; }
.c_cr { clear: right !important; }
.c_cn { clear: none !important; }

/*----------------------------------------------------------
 width
------------------------------------------------------------*/
.c_wA    { width: auto !important; }
.c_wMax  { width: 100% !important; }
.c_wHalf { width: 50% !important; }

.c_w0   { width: 0 !important; }
.c_w50  { width: 50px !important; }
.c_w100 { width: 100px !important; }
.c_w150 { width: 150px !important; }
.c_w200 { width: 200px !important; }
.c_w250 { width: 250px !important; }
.c_w300 { width: 300px !important; }
.c_w350 { width: 350px !important; }
.c_w400 { width: 400px !important; }
.c_w450 { width: 450px !important; }
.c_w500 { width: 500px !important; }
.c_w550 { width: 550px !important; }
.c_w600 { width: 600px !important; }
.c_w650 { width: 650px !important; }
.c_w700 { width: 700px !important; }
.c_w750 { width: 750px !important; }
.c_w800 { width: 800px !important; }
.c_w850 { width: 850px !important; }
.c_w900 { width: 900px !important; }
.c_w950 { width: 950px !important; }

/*----------------------------------------------------------
 margin
------------------------------------------------------------*/

/* top
--------------------------------------------------*/
.c_mt0  { margin-top: 0px !important; }
.c_mt5  { margin-top: 5px !important; }
.c_mt10 { margin-top: 10px !important; }
.c_mt15 { margin-top: 15px !important; }
.c_mt20 { margin-top: 20px !important; }
.c_mt25 { margin-top: 25px !important; }
.c_mt30 { margin-top: 30px !important; }
.c_mt35 { margin-top: 35px !important; }
.c_mt40 { margin-top: 40px !important; }
.c_mt45 { margin-top: 45px !important; }
.c_mt50 { margin-top: 50px !important; }

/* left
--------------------------------------------------*/
.c_ml0  { margin-left: 0px !important; }
.c_ml5  { margin-left: 5px !important; }
.c_ml10 { margin-left: 10px !important; }
.c_ml15 { margin-left: 15px !important; }
.c_ml20 { margin-left: 20px !important; }
.c_ml25 { margin-left: 25px !important; }
.c_ml30 { margin-left: 30px !important; }
.c_ml35 { margin-left: 35px !important; }
.c_ml40 { margin-left: 40px !important; }
.c_ml45 { margin-left: 45px !important; }
.c_ml50 { margin-left: 50px !important; }

/* right
--------------------------------------------------*/
.c_mr0  { margin-right: 0px !important; }
.c_mr5  { margin-right: 5px !important; }
.c_mr10 { margin-right: 10px !important; }
.c_mr15 { margin-right: 15px !important; }
.c_mr20 { margin-right: 20px !important; }
.c_mr25 { margin-right: 25px !important; }
.c_mr30 { margin-right: 30px !important; }
.c_mr35 { margin-right: 35px !important; }
.c_mr40 { margin-right: 40px !important; }
.c_mr45 { margin-right: 45px !important; }
.c_mr50 { margin-right: 50px !important; }

/* bottom
--------------------------------------------------*/
.c_mb0  { margin-bottom: 0px !important; }
.c_mb5  { margin-bottom: 5px !important; }
.c_mb10 { margin-bottom: 10px !important; }
.c_mb15 { margin-bottom: 15px !important; }
.c_mb20 { margin-bottom: 20px !important; }
.c_mb25 { margin-bottom: 25px !important; }
.c_mb30 { margin-bottom: 30px !important; }
.c_mb35 { margin-bottom: 35px !important; }
.c_mb40 { margin-bottom: 40px !important; }
.c_mb45 { margin-bottom: 45px !important; }
.c_mb50 { margin-bottom: 50px !important; }

.c_mhA  {
  margin-left: auto !important;
  margin-right: auto !important;
}

/*----------------------------------------------------------
 float
------------------------------------------------------------*/

/* top
--------------------------------------------------*/
.c_pt0  { padding-top: 0px !important; }
.c_pt5  { padding-top: 5px !important; }
.c_pt10 { padding-top: 10px !important; }
.c_pt15 { padding-top: 15px !important; }
.c_pt20 { padding-top: 20px !important; }
.c_pt25 { padding-top: 25px !important; }
.c_pt30 { padding-top: 30px !important; }
.c_pt35 { padding-top: 35px !important; }
.c_pt40 { padding-top: 40px !important; }
.c_pt45 { padding-top: 45px !important; }
.c_pt50 { padding-top: 50px !important; }

/* left
--------------------------------------------------*/
.c_pl0  { padding-left: 0px !important; }
.c_pl5  { padding-left: 5px !important; }
.c_pl10 { padding-left: 10px !important; }
.c_pl15 { padding-left: 15px !important; }
.c_pl20 { padding-left: 20px !important; }
.c_pl25 { padding-left: 25px !important; }
.c_pl30 { padding-left: 30px !important; }
.c_pl35 { padding-left: 35px !important; }
.c_pl40 { padding-left: 40px !important; }
.c_pl45 { padding-left: 45px !important; }
.c_pl50 { padding-left: 50px !important; }

/* right
--------------------------------------------------*/
.c_pr0  { padding-right: 0px !important; }
.c_pr5  { padding-right: 5px !important; }
.c_pr10 { padding-right: 10px !important; }
.c_pr15 { padding-right: 15px !important; }
.c_pr20 { padding-right: 20px !important; }
.c_pr25 { padding-right: 25px !important; }
.c_pr30 { padding-right: 30px !important; }
.c_pr35 { padding-right: 35px !important; }
.c_pr40 { padding-right: 40px !important; }
.c_pr45 { padding-right: 45px !important; }
.c_pr50 { padding-right: 50px !important; }

/* bottom
--------------------------------------------------*/
.c_pb0  { padding-bottom: 0px !important; }
.c_pb5  { padding-bottom: 5px !important; }
.c_pb10 { padding-bottom: 10px !important; }
.c_pb15 { padding-bottom: 15px !important; }
.c_pb20 { padding-bottom: 20px !important; }
.c_pb25 { padding-bottom: 25px !important; }
.c_pb30 { padding-bottom: 30px !important; }
.c_pb35 { padding-bottom: 35px !important; }
.c_pb40 { padding-bottom: 40px !important; }
.c_pb45 { padding-bottom: 45px !important; }
.c_pb50 { padding-bottom: 50px !important; }

/*----------------------------------------------------------
 font
------------------------------------------------------------*/
.c_fs20 { font-size: 2rem !important; }
.c_fs18 { font-size: 1.8rem !important; }
.c_fs16 { font-size: 1.6rem !important; }
.c_fs14 { font-size: 1.4rem !important; }
.c_fs12 { font-size: 1.2rem !important; }
.c_fs10 { font-size: 1rem !important; }

.c_al  { text-align: left !important; }
.c_ac  { text-align: center !important; }
.c_ar  { text-align: right !important; }

.c_bold   { font-weight: bold !important; }
.c_normal { font-weight: normal !important; }
