@charset "utf-8";
/* ===================================================================
 utilityClass.css
======================================================================*/

/*----------------------------------------------------------
 display
------------------------------------------------------------*/
.c_dn { display: none !important; }
.c_db { display: block !important; }
.c_di { display: inline !important; }
.c_dib { display: inline-block !important; }
.c_df { display: flex !important; }

/*----------------------------------------------------------
 overflow
------------------------------------------------------------*/
.c_oh { overflow: hidden !important; }
.c_ov { overflow: visible !important; }

/*----------------------------------------------------------
 width
------------------------------------------------------------*/
.c_wA    { width: auto !important; }
.c_wMax  { width: 100% !important; }
.c_wHalf { width: 50% !important; }

.c_w0   { width: 0 !important; }
.c_w50  { width: 50px !important; }
.c_w100 { width: 100px !important; }
.c_w150 { width: 150px !important; }
.c_w200 { width: 200px !important; }
.c_w250 { width: 250px !important; }
.c_w300 { width: 300px !important; }
.c_w350 { width: 350px !important; }
.c_w400 { width: 400px !important; }
.c_w450 { width: 450px !important; }
.c_w500 { width: 500px !important; }
.c_w550 { width: 550px !important; }
.c_w600 { width: 600px !important; }
.c_w650 { width: 650px !important; }
.c_w700 { width: 700px !important; }
.c_w750 { width: 750px !important; }
.c_w800 { width: 800px !important; }
.c_w850 { width: 850px !important; }
.c_w900 { width: 900px !important; }
.c_w950 { width: 950px !important; }

/* max-width
--------------------------------------------------*/
.c_mwNone { max-width: none !important; }

.c_mw100p { max-width: 100% !important; }
.c_mw90p  { max-width: 90% !important; }
.c_mw80p  { max-width: 80% !important; }
.c_mw70p  { max-width: 70% !important; }
.c_mw60p  { max-width: 60% !important; }
.c_mw50p  { max-width: 50% !important; }
.c_mw40p  { max-width: 40% !important; }
.c_mw30p  { max-width: 30% !important; }
.c_mw20p  { max-width: 20% !important; }
.c_mw10p  { max-width: 10% !important; }

/*----------------------------------------------------------
 margin
------------------------------------------------------------*/

/* top
--------------------------------------------------*/
.c_mt1em { margin-top: 1em !important; }

.c_mt0  { margin-top: 0px !important; }
.c_mt5  { margin-top: 5px !important; }
.c_mt10 { margin-top: 10px !important; }
.c_mt15 { margin-top: 15px !important; }
.c_mt20 { margin-top: 20px !important; }
.c_mt25 { margin-top: 25px !important; }
.c_mt30 { margin-top: 30px !important; }
.c_mt35 { margin-top: 35px !important; }
.c_mt40 { margin-top: 40px !important; }
.c_mt45 { margin-top: 45px !important; }
.c_mt50 { margin-top: 50px !important; }

/* left
--------------------------------------------------*/
.c_ml0  { margin-left: 0px !important; }
.c_ml5  { margin-left: 5px !important; }
.c_ml10 { margin-left: 10px !important; }
.c_ml15 { margin-left: 15px !important; }
.c_ml20 { margin-left: 20px !important; }
.c_ml25 { margin-left: 25px !important; }
.c_ml30 { margin-left: 30px !important; }
.c_ml35 { margin-left: 35px !important; }
.c_ml40 { margin-left: 40px !important; }
.c_ml45 { margin-left: 45px !important; }
.c_ml50 { margin-left: 50px !important; }

/* right
--------------------------------------------------*/
.c_mr0  { margin-right: 0px !important; }
.c_mr5  { margin-right: 5px !important; }
.c_mr10 { margin-right: 10px !important; }
.c_mr15 { margin-right: 15px !important; }
.c_mr20 { margin-right: 20px !important; }
.c_mr25 { margin-right: 25px !important; }
.c_mr30 { margin-right: 30px !important; }
.c_mr35 { margin-right: 35px !important; }
.c_mr40 { margin-right: 40px !important; }
.c_mr45 { margin-right: 45px !important; }
.c_mr50 { margin-right: 50px !important; }

/* bottom
--------------------------------------------------*/
.c_mb0  { margin-bottom: 0px !important; }
.c_mb5  { margin-bottom: 5px !important; }
.c_mb10 { margin-bottom: 10px !important; }
.c_mb15 { margin-bottom: 15px !important; }
.c_mb20 { margin-bottom: 20px !important; }
.c_mb25 { margin-bottom: 25px !important; }
.c_mb30 { margin-bottom: 30px !important; }
.c_mb35 { margin-bottom: 35px !important; }
.c_mb40 { margin-bottom: 40px !important; }
.c_mb45 { margin-bottom: 45px !important; }
.c_mb50 { margin-bottom: 50px !important; }

/* horizontal
--------------------------------------------------*/
.c_mhA  {
  margin-left: auto !important;
  margin-right: auto !important;
}

/* vertical
--------------------------------------------------*/
.c_mv0  {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/*----------------------------------------------------------
 layout
------------------------------------------------------------*/
.c_textLeft   { text-align: left !important; }
.c_textCenter { text-align: center !important; }
.c_textRight  { text-align: right !important; }

.c_alignStart  { align-items: flex-start !important; }
.c_alignCenter { align-items: center !important; }
.c_alignEnd    { align-items: flex-end !important; }

/*----------------------------------------------------------
 font
------------------------------------------------------------*/
.c_fs20 { font-size: 2rem !important; }
.c_fs18 { font-size: 1.8rem !important; }
.c_fs16 { font-size: 1.6rem !important; }
.c_fs14 { font-size: 1.4rem !important; }
.c_fs12 { font-size: 1.2rem !important; }
.c_fs10 { font-size: 1rem !important; }

.c_fontBold   { font-weight: bold !important; }
.c_fontNormal { font-weight: normal !important; }
